.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;


.header__top-logo{
    display: flex;
    align-items: center;
}
.header__top-img{
    width: 236px;
    height: 26px;
}
}