.navbar__list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;


.navbar__item{
    list-style: none;


    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #83888F;
}
.navbar__item+.navbar__item{
    margin-left: 32px;
}
.navbar__item-link{
    color: #83888F;
    text-decoration: none;
}
.navbar__item-link:hover{
    color: lime;
    opacity: 0.8;

}
.navbar__item-link:active{
    color:red;
    opacity: 0.6;
}
}